<center>

<p style="color: green"><%= flash[:login_notice] %></p>

<% form_tag :controller => "entry", :action => "login" do %>
  <table>
    <tr>
      <td>
        ID:
      </td>
      <td class="input_field_width_100">
        <input type="text" name="login[login_id]" size="15" />
      </td>
    </tr>
      
      <tr>
      <td>
        PASS:
      </td>
      <td class="input_field_width_100">
        <input type="password" name="login[password]" size="7" />
      </td>
    </tr>
  </table>
  
  <br />
  
  <%= submit_tag "ログイン", :disable_with => "ログイン" %>
<% end %>

<br />
<br />

<span class="menu"><%= link_to "New Entry", { :controller => "entry", :action => "input" } %></span>

</center>